---
Checks: '-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-default-member-init,
  modernize-use-using,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-use-auto,
  modernize-use-emplace,
  modernize-redundant-void-arg,
  modernize-raw-string-literal,
  performance-unnecessary-value-param,
  performance-move-const-arg,
  performance-for-range-copy,
  performance-unnecessary-copy-initialization'
WarningsAsErrors: ''
HeaderFilterRegex: '.*\.(h|hpp)$'
FormatStyle:     file